/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: black;
  text-decoration: none;
}

/* Our Rules */
/* HEADER */
* {
  color: #121212;
}

h1 {
  font-family: 'Righteous', sans-serif;
  color: rgba(255, 255, 255, 0.98);
  text-transform: uppercase;
  font-size: 2.4rem;
}

p {
  color: #fff;
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
}

span {
  font-family: 'Poppins', sans-serif;
}

header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 6vh;
  min-height: 40px;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 999;
}

nav {
  display: flex;
  padding-right: 1rem;
  justify-content: space-between;
}

.nav-logo {
  margin: 0 0.5rem;
  padding-left: 1rem;
}

.nav-logo img {
  width: 15rem;
}

.nav-button {
  padding: 0 0.5rem;
  margin: 0 0.25rem;
  font-size: 1rem;
}
.nav-button span {
  padding-left: 0.25rem;
  transition: all 0.2s ease;
}
.nav-button i {
  transition: all 0.2s ease;
}
.nav-button:hover span {
  color: #ff5757;
  transition: all 0.2s ease;
}
.nav-button:hover i {
  color: #ff5757;
  transition: all 0.2s ease;
}

/* IMAGES */
#banner-image-pizza-1 {
  background-image: url('../styles/images/Margherita.png');
}
#banner-image-pizza-2 {
  background-image: url('../styles/images/Bolonhesa.png');
}
#banner-image-pizza-3 {
  background-image: url('../styles/images/Carbonara.png');
}
#banner-image-pizza-4 {
  background-image: url('../styles/images/Pepperoni.png');
}
#banner-image-pizza-5 {
  background-image: url('../styles/images/Vegan.png');
}
#banner-image-pizza-6 {
  background-image: url('../styles/images/Capricciosa.png');
}
#banner-image-pizza-7 {
  background-image: url('../styles/images/Supreme.png');
}
#banner-image-pizza-8 {
  background-image: url('../styles/images/Hawaiian.png');
}
#banner-image-pizza-9 {
  background-image: url('../styles/images/Tonno.png');
}
#banner-image-pizza-10 {
  background-image: url('../styles/images/Pollo.png');
}
#banner-image-pizza-11 {
  background-image: url('../styles/images/Funghi.png');
}
#banner-image-pizza-12 {
  background-image: url('../styles/images/Works.png');
}
#banner-image-pizza-13 {
  background-image: url('../styles/images/Prociutto.png');
}
#banner-image-pizza-14 {
  background-image: url('../styles/images/Diavola.png');
}
#banner-image-pizza-15 {
  background-image: url('../styles/images/4Fromaggi.png');
}
#banner-image-pizza-16 {
  background-image: url('../styles/images/Buffalo.png');
}
#banner-image-pizza-17 {
  background-image: url('../styles/images/pizzaria.jpg');
}
#banner-image-pizza-18 {
  background-image: url('../styles/images/local_1.jpg');
}
#banner-image-pizza-19 {
  background-image: url('../styles/images/local_2.jpg');
}
#banner-image-pizza-20 {
  background-image: url('../styles/images/local_3.jpg');
}
#banner-image-pizza-21 {
  background-image: url('../styles/images/local_4.jpg');
}
#banner-image-pizza-22 {
  background-image: url('../styles/images/local_5.jpg');
}


/* HOME / PROMOÇÕES */
.home {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../styles/images/pizza_home.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 7rem;
  color: #fff;
}

.promocao {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.pizza-container {
  display: grid;
  grid-auto-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin-top: 50px;
}

.pizza-set {
  display: flex;
  justify-content: space-around;
}

.pizza-set img {
  width: 23%;
  margin: 0.5%;
}

.page-title {
  font-size: 2.5rem;
  margin-top: 8vh;
  margin-bottom: 1rem;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.home-promocao-img-container {
  display: flex;
  justify-content: center;
}

.container-pizza {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.25);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 1rem 1.5rem;
  filter: drop-shadow(0 30px 10px rgba(0, 0, 0, 0.125));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 0;
  margin: 0rem 2rem 1.75rem 2rem;
  flex-shrink: 3;
}

.wrapper-pizza {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner-image-pizza {
  background-position: center;
  background-size: cover;
  height: 200px;
  width: 270px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.525));
}

.wrapper-pizza h1 {
  margin-top: 1rem;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.75rem;
}

.pizza-card-paragraph {
  margin-top: 0.25rem;
}

.pizza-button {
  border: none;
  padding: 12px 20px;
  margin-top: 1rem;
  border-radius: 24px;
  font-size: 0.85rem;
  letter-spacing: 2px;
  cursor: pointer;
  background: rgba(230, 50, 0, 0.75);
  color: rgba(255, 255, 255, 0.95);
  font-weight: bold;
  transition: all 0.3s ease;
  filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.525));
}

.pizza-button:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}
.fa-shopping-cart {
  font-size: 1.1rem !important;
  color: white;
}



/* NEWSLETTER */
.newsletter {
  height: 55vh;
  background-image: linear-gradient(
    rgba(230, 50, 0, 0.85),
    rgba(255, 255, 255, 0.75)
  );
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  font-size: 7rem;
  color: #fff;
}
.newsletter .page-title {
  margin-top: 2vh;
}

.newsletter-container {
  display: flex;
  justify-content: space-around;
}
.newsletter-coluna-1 {
  width: 30%;
}
.newsletter-coluna-2 {
  width: 30%;
}
.newsletter-coluna-3 {
  width: 30%;
}

.newsletter-container-pizza {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(225, 225, 225, 0.9);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 1rem 1.75rem;
  filter: drop-shadow(0 30px 10px rgba(0, 0, 0, 0.125));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 0;
  margin: 0rem 1.5rem 0 1.5rem;
  flex-shrink: 3;
  min-height: 300px;
}

.newsletter-wrapper-pizza {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsletter-wrapper-pizza h1 {
  margin-top: 1rem;
  color: rgba(255,77,57,1);
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.newsletter-coluna-2 .newsletter-wrapper-pizza h1 {
  font-size: 3rem;
}

.newsletter-pizza-card-paragraph {
  margin-top: 1rem;
  color: rgba(255,77,57,1);
}

.newsletter-pizza-button {
  border: none;
  padding: 12px 20px;
  margin-top: 1rem;
  border-radius: 24px;
  font-size: 0.85rem;
  letter-spacing: 2px;
  cursor: pointer;
  color: rgba(255,77,57,1);
  background: rgba(215, 215, 215, 1);
  font-weight: bold;
  transition: all 0.3s ease;
  filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.525));
}

.newsletter-pizza-button:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.newsletter-pizza-button .fa-shopping-cart {
  font-size: 1.1rem !important;
  color: rgba(255,77,57,1);
}

.newsletter-banner-image-pizza {
  background-position: center;
  background-size: cover;
  height: 200px;
  width: 90%;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.525));
}

.newsletter-wrapper-pizza {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newsletter-wrapper-pizza form p {
  color: rgba(255,77,57,1);
  font-size: 1.75rem;
  margin-bottom: 0.75rem;
}

.newsletter-wrapper-pizza form {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

input {
  background: transparent;
  width: 80%;
  padding: 1rem;
  margin: 1rem 0;
  border: none;
  border-radius: 36px;
  backdrop-filter: blur(2px);
  color: black;
  font-size: 1rem;
}



/* PRODUTOS */
.produtos {
  /* height: 200vh; */
  /* background-color: rgba(255,77,57,0.3); */
  /* background-image: linear-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 1),
    rgba(230, 50, 0, 0.85),
    rgba(230, 50, 0, 0.85),
    rgba(230, 50, 0, 0.85)
  ); */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url('../styles/images/pizza_produtos.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 7rem;
  color: #fff;
  flex-wrap: wrap;
}

.produtos-promocao {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.produtos-promocao h1 {
  color: rgba(255,77,57,1);
}

.produtos-container-pizza {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(225, 225, 225, 0.15);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 1rem 1.75rem;
  filter: drop-shadow(0 30px 10px rgba(0, 0, 0, 0.125));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 0;
  margin: 0rem 2rem 1.75rem 2rem;
  flex-shrink: 3;
}

.produtos-wrapper-pizza {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.produtos-wrapper-pizza h1 {
  margin-top: 1rem;
  color: rgba(255,77,57,1);
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.75rem;
}

.produtos-banner-image-pizza {
  background-position: center;
  background-size: cover;
  height: 200px;
  width: 270px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.525));
}

.produtos-pizza-button {
  border: none;
  padding: 12px 20px;
  margin-top: 1rem;
  border-radius: 24px;
  font-size: 0.85rem;
  letter-spacing: 2px;
  cursor: pointer;
  color: rgba(255,77,57,1);
  background: rgba(215, 215, 215, 1);
  font-weight: bold;
  transition: all 0.3s ease;
  filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.525));
}

.produtos-pizza-button:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.produtos-pizza-button .fa-shopping-cart {
  font-size: 1.1rem !important;
  color: rgba(255,77,57,1);
}

.produtos-pizza-card-paragraph {
  color: rgba(255,77,57,1);
}

.produtos-img-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}



/* LOJAS */
.lojas {
  height: 92vh;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.75),
    rgba(230, 50, 0, 0.85)
  );
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  font-size: 7rem;
  color: #fff;
}

.lojas-container-pizza {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(225, 225, 225, 0.9);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 1rem 1.75rem;
  filter: drop-shadow(0 30px 10px rgba(0, 0, 0, 0.125));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 0;
  margin: 0rem 2rem 1.75rem 2rem;
  flex-shrink: 3;
  min-height: 300px;
  width: 80%;
}

.lojas-wrapper-pizza {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.lojas-wrapper-pizza h1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: rgba(255,77,57,1);
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.75rem;
}

.lojas-banner-image-pizza {
  background-position: center;
  background-size: cover;
  height: 200px;
  width: 90%;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.525));
  margin: 0.5rem;
}

.lojas-container {
  display: flex;
  justify-content: space-around;
}

.lojas-row-1 {
  display: flex;
  width: 80%;
}
.lojas-row-2 {
  display: flex;
  width: 80%;
}
.lojas-row-3 {
  display: flex;
  width: 40%;
}
.loja-card {
  width:100%;
}

.lojas-pizza-card-paragraph {
  color: rgba(255,77,57,1);
}


/* LOGIN */
.login {
  height: 95vh;
  /* background-image: linear-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 1),
    rgba(230, 50, 0, 0.85),
    rgba(230, 50, 0, 0.85)
  ); */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../styles/images/pizza_login.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 7rem;
  color: #fff;
}

.login-container-pizza {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(225, 225, 225, 0.9);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 1rem 1.75rem;
  filter: drop-shadow(0 30px 10px rgba(0, 0, 0, 0.125));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 0;
  margin: 0rem 1.5rem 0 1.5rem;
  flex-shrink: 3;
  min-height: 300px;
  width: 25rem;
  margin: 15rem 0 12rem 0;
}

.login-wrapper-pizza {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.login-wrapper-pizza h1 {
  margin-top: 1rem;
  color: rgba(255,77,57,1);
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.login-wrapper-pizza form p {
  color: rgba(255,77,57,1);
  font-size: 1.75rem;
  margin-bottom: 0.75rem;
}

.login-wrapper-pizza form input {
  color: #fff;
  /* background-color: rgba(255, 255, 255, 0.75); */
}
.login-wrapper-pizza form input::placeholder {
  color: white;
  font-size: 1.1rem;
}

.login-wrapper-pizza form {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.login-wrapper-pizza form input {
  width: 80%;
}

.login div {
  font-size: 1.25rem;
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
  color: white;
}

.senha-esquecida {
  font-size: 0.8rem !important;
  text-decoration: underline;
  margin-top: 1.5rem !important;
  cursor: pointer;
  color: black !important;
}

.login-pizza-button {
  border: none;
  padding: 12px 20px;
  margin-top: 1rem;
  border-radius: 24px;
  font-size: 0.85rem;
  letter-spacing: 2px;
  cursor: pointer;
  color: rgba(255,77,57,1);
  background: rgba(215, 215, 215, 1);
  font-weight: bold;
  transition: all 0.3s ease;
  filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.525));
  width: 9rem;
}
.login-pizza-button:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}




/* FOOTER */
footer {
  height: 5vh;
  background-color: rgba(230, 50, 0, 0.85);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 7rem;
  color: #fff;
  /* border: 1px solid white; */
}

.footer-text {
  font-size: 1rem;
  margin: 0 1.5rem;
}












/* html {
  box-sizing: border-box;
} 

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: Roboto, sans-serif;
} */



/* LOCAIS / SLIDER */

.locais {
  height: 95vh;
  /* background-image: linear-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 1),
    rgba(230, 50, 0, 0.85),
    rgba(230, 50, 0, 0.85)
  ); */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../styles/images/pizzaria_2.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* font-size: 7rem; */
  color: #fff;
}

.slider {
  position: relative;
  height: 26rem;
  padding: 2rem;
  /* margin: 50px auto; */
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.2),
    0 3px 1px -2px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  width: 50rem;
  background-color: rgba(0, 0, 0, 0.5);
}

.slider-controls {
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  width: 28rem;
  text-align: center;
  transform: translatex(-50%);
  z-index: 1000;

  list-style: none;
  text-align: center;
}

.slider input[type="radio"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 0;
  height: 0;
}

.slider-controls label {
  display: inline-block;
  border: none;
  height: 20px;
  /* width: 3.5rem; */
  margin: 0 0.25rem;
  border-radius: 50%;
  cursor: pointer;
  color: white;
  transition: background-color 0.2s linear;
}

.morada {
  color: white;
  margin-top: 1rem;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"] {
  color: rgba(230, 50, 0, 1);
  text-decoration:underline;
}

#btn-2:checked ~ .slider-controls label[for="btn-2"] {
  color: rgba(230, 50, 0, 1);
  text-decoration:underline;
}

#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  color: rgba(230, 50, 0, 1);
  text-decoration:underline;
}

#btn-4:checked ~ .slider-controls label[for="btn-4"] {
  color: rgba(230, 50, 0, 1);
  text-decoration:underline;
}

#btn-5:checked ~ .slider-controls label[for="btn-5"] {
  color: rgba(230, 50, 0, 1);
  text-decoration:underline;
}

.slides {
  /* display: flex; */
  /* flex-direction: row; */
  /* flex-wrap: no-wrap; */
  /* display: inline-block; */

  width: 100%;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  /* padding: 20px; */
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translatex(-100%);
  transition: transform 250ms linear;
}

.slide-content {
  width: 20rem;
}

.slide-title {
  margin-top: 1rem;
  color: rgba(255,77,57,1);
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.slide-text {
  margin-bottom: 20px;
}

.slide-link {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  border-radius: 3px;
  text-decoration: none;
  background-color: #ff4081;
}
.slide-image {
  display: flex;
  flex-direction: column;
}
.slide-image img {
  /* max-width: 80%; */
  width: 30rem;
  height: 70%;
}

/* Slide animations */
#btn-1:checked ~ .slides .slide:nth-child(1) {
  transform: translatex(0);
  opacity: 1;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
  transform: translatex(0);
  opacity: 1;
}

#btn-3:checked ~ .slides .slide:nth-child(3) {
  transform: translatex(0);
  opacity: 1;
}

#btn-4:checked ~ .slides .slide:nth-child(4) {
  transform: translatex(0);
  opacity: 1;
}

#btn-5:checked ~ .slides .slide:nth-child(5) {
  transform: translatex(0);
  opacity: 1;
}

#btn-1:not(:checked) ~ .slides .slide:nth-child(1) {
  animation-name: swap-out;
  animation-duration: 300ms;
  animation-timing-function: linear;
}

#btn-2:not(:checked) ~ .slides .slide:nth-child(2) {
  animation-name: swap-out;
  animation-duration: 300ms;
  animation-timing-function: linear;
}

#btn-3:not(:checked) ~ .slides .slide:nth-child(3) {
  animation-name: swap-out;
  animation-duration: 300ms;
  animation-timing-function: linear;
}

#btn-4:not(:checked) ~ .slides .slide:nth-child(4) {
  animation-name: swap-out;
  animation-duration: 300ms;
  animation-timing-function: linear;
}

#btn-5:not(:checked) ~ .slides .slide:nth-child(5) {
  animation-name: swap-out;
  animation-duration: 300ms;
  animation-timing-function: linear;
}

@keyframes swap-out {
  0% {
    transform: translatex(0);
    opacity: 1;
  }

  50% {
    transform: translatex(50%);
    opacity: 0;
  }

  100% {
    transform: translatex(100%);
  }
}


/* ESPECIAIS */

.especiais {
  /* height: 100vh; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../styles/images/pizza_especiais.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 7rem;
  color: #fff;
}

.especiais-img-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.especiais-pizza-button {
  border: none;
  padding: 12px 20px;
  margin-top: 1rem;
  border-radius: 24px;
  font-size: 0.85rem;
  letter-spacing: 2px;
  cursor: pointer;
  background: rgba(230, 50, 0, 0.75);
  color: rgba(215, 215, 215, 1);
  font-weight: bold;
  transition: all 0.3s ease;
  filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.525));
}

.especiais-pizza-button:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.especiais-pizza-button .fa-shopping-cart {
  font-size: 1.1rem !important;
  color: rgba(215, 215, 215, 1);

}

.especiais-container-pizza {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.25);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 1rem 1.75rem;
  filter: drop-shadow(0 30px 10px rgba(0, 0, 0, 0.125));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 0;
  margin: 0rem 2rem 1.75rem 2rem;
  flex-shrink: 3;
}

.especiais-wrapper-pizza {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.especiais-wrapper-pizza h1 {
  margin-top: 1.5rem;
  color: rgba(215, 215, 215, 1);
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.75rem;
}
.especiais-wrapper-pizza h2 {
  margin-top: 0.5rem;
  color: rgba(215, 215, 215, 1);
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 1.25; 
  width: 80%;
}

.especiais-banner-image-pizza {
  background-position: center;
  background-size: cover;
  height: 200px;
  width: 230px;
  /* margin: 0 0.75rem; */
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.525));
}

.especiais-pizza-card-paragraph {
  color: rgba(215, 215, 215, 1);
  margin-top: 0.5rem;
}

.especiais-image-row {
  display: flex;
  justify-content: space-between;
}

.especiais-pizza-meio {
  margin: 0 2rem;
}










/* Tablet */
@media screen and (max-width: 865px) {
  .nav-button i {
    font-size: 2rem;
  }
  .nav-button span {
    display: none;
  }
  .pizza-container {
    width: 7rem;
  }
  .pizza-container img {
    width: 8rem;
  }
  footer {
    flex-direction: column;
    justify-content: center;
    height: 8vh;
  }
  .footer-text {
    font-size: 0.8rem;
    margin: 0.25rem 1rem;
  }
  .slider {
    width: 30rem;
  }
  
  .especiais-banner-image-pizza {
    width: 260px;
  }
  .especiais-image-row {
    flex-direction: column;
  }
  .especiais-pizza-meio {
    margin: 1rem 0;
  }
}



/* Phone */
@media screen and (max-width: 530px) {
  header .nav-logo {
    display: none;
  }
  nav {
    width: 100%;
    justify-content: space-around;
  }
  .login-container-pizza {
    width: 15rem;
  }
  .lojas-container-pizza {
    padding: 1rem 1rem;
  }
  .lojas-wrapper-pizza h1 {
    font-size: 1.5rem;
  }
  .lojas-row-1 {
    width: 100% !important;
  }
  .lojas-row-2 {
    width: 100% !important;
  }
  .lojas-row-3 {
    width: 100% !important;
  }
  
  .slider {

    height: 26rem;
    padding: 1rem;
    width: 20rem;
  }
  
  .slide-image img {
    width: 19rem;
    height: 15rem;
  }
  .morada {
    font-size: 0.85rem
  }
}



/* Homepage images for different resolutions */
@media screen and (max-width: 1575px) {
  #home-pizza-4 {
    display: none;
  }
  #home-pizza-8 {
    display: none;
  }

}

@media screen and (max-width: 1180px) {
  #home-pizza-3 {
    display: none;
  }
  #home-pizza-7 {
    display: none;
  }
  .first-column-hide {
    display: none;
  }
  .newsletter-coluna-1 {
    width: 50%;
  }
  .newsletter-coluna-3 {
    width: 50%;
  }
}

@media screen and (max-width: 788px) {
  #home-pizza-2 {
    display: none;
  }
  #home-pizza-6 {
    display: none;
  }
  .second-column-hide {
    display: none;
  }
  .newsletter-container-pizza {
    width: 80%;
  }
  .lojas {
    height: 147vh;
  }
  
  .lojas-row-1 {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  .lojas-row-2 {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  .lojas-row-3 {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
}

@media screen and (max-height: 890px) {
  .promocao {
    justify-content: space-between;
  }
  #home-pizza-1 {
    align-self: center;
    justify-self: center;
  }
  #home-pizza-2 {
    align-self: center;
    justify-self: center;
  }
  #home-pizza-3 {
    align-self: center;
    justify-self: center;
  }
  #home-pizza-4 {
    align-self: center;
    justify-self: center;
  }
  #home-pizza-5 {
    display: none;
  }
  #home-pizza-6 {
    display: none;
  }
  #home-pizza-7 {
    display: none;
  }
  #home-pizza-8 {
    display: none;
  }
}
